Package: yubi-tcl
Version: 0.1-1
Priority: optional
Section: web
Architecture: all
Depends: tcl (>= 8.5.0-1)
Suggests: yubikey-personalization
Maintainer: Ben Fuhrmannek <bef@pentaphase.de>
Homepage: https://code.google.com/p/yubi-tcl/
Bugs: https://code.google.com/p/yubi-tcl/issues/list
Description: Yubikey-compatible validation server for OTP validation
 This project implements a validation server for Yubikey One-Time-Passwords.
 It is written in Tcl as CGI in order to be used with any CGI capable
 webserver - such as boa or apache2. It comes with a client library, although
 other client libraries are supported.
 .
 The server implementation is minimal and acts as a centralized validation
 server for small environments.
 .
 Features include:
  * mostly Validation Protocol 2.0 compliant
  * file based user and yubikey management; does not require any DBMS
  * arbitrary keyboard layout support - Dvorak, Neo2 and QWERTY-alike layouts
    are supported by default, others - e.g. Russian - are supported with
    CFGFLAG_SEND_REF enabled
  * client library with example
